<div class="wrapper container">
	<div class="jumbotron">
		<div class="logo">

		</div>
		<div class="title">
			<h1>Todo</h1>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae velit voluptatum nesciunt, veritatis id non ad qui commodi adipisci exercitationem nisi eligendi quaerat iure quisquam sunt delectus, doloribus aliquam quas.</p>
	</div>
	<div class="sign-up">
		<a href= "#" ><button class="btn btn-danger btn-lg">Sign Up</button></a>
	</div>
</div>

<h1>Welcome#index</h1>
<p>This is the selcome page</p>
<ul>
	<li><%= link_to "Login", new_user_session_path %></li>
	<li><%= link_to "Sign Up", new_user_registration_path, class: "active" %></li>
</ul>