<div class="wrapper container">
	<div class="jumbotron">
		<div class="logo">

		</div>
		<div class="title">
			<h1>Todo</h1>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae velit voluptatum nesciunt, veritatis id non ad qui commodi adipisci exercitationem nisi eligendi quaerat iure quisquam sunt delectus, doloribus aliquam quas.</p>
	</div>
	<div class="sign-up">
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-lg" %>
	</div>
	<div class="log-in">
	<p class="login-text">Already have an account!!</p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-danger btn-mg" %>
	</div>
</div>
