<div class="wrapper container">
	<div class="jumbotron">
		<div class="logo">

		</div>
		<div class="title">
			<h1>Todo</h1>
		</div>
		<p>This application lets you to note down all your tasks. If the tasks are complete then you can mark them as complete</p>

	</div>
	<div class="sign-up">
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-lg" %>
	</div>
	<div class="border"></div>
	<div class="log-in">
	<p class="login-text">Already have an account!!</p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-danger btn-mg" %>
	</div>
</div>
<footer>
<p class="footer-text">Developd by: Rupesh Maharjan </p>
	<ul>
		<li><a href="https://www.twitter.com/rupace10" target="_blank"><i class="fa fa-twitter fa-4x"></i></a></li>
		<li><a href="#" target="_blank"><i class="fa fa-facebook fa-4x"></i></a></li>
		<li><a href="https://www.github.com/rupace10" target="_blank"><i class="fa fa-github fa-4x"></i></a></li>
		<li><a href="#" target="_blank"><i class="fa fa-google-plus fa-4x"></i></a></li>
		<li><a href="https://dribbble.com/rupace10" target="_blank"><i class="fa fa-dribbble fa-4x"></i></a></li>
	</ul>
</footer>