<h1>Edit </h1>

<%= render 'form' %>

</br>
</br>
</br>
<div class="link">
<%= link_to  @task_list do %>
	<div class="btn btn-danger btn-mg"><i class="fa fa-arrow-left fa-2x"></i> &nbsp; </div>
<% end %>
</div>