<div class="task-list">
<h1 class="task-heading" >Task List</h1>
  <div class="tl-content container">
    <% @task_lists.each do |task_list| %>
      <div class="t-d">
        <h2 class="t-title"><%= link_to task_list.title, task_list %></h2>
        <p class="desc"><%= task_list.description %></p>
      </div>
    <% end %>
  </div>

  <div class="new-list container">
   <%= link_to new_task_list_path do %>
    <i class="fa fa-plus fa-2x"></i>
    <% end %>
  </div>
</div>

</br>
</br>
</br>
      <%#= link_to 'Edit', edit_task_list_path(task_list) -%>
        <%#= link_to 'Destroy', task_list, method: :delete, data: { confirm: 'Are you sure?' }- %>
<div class="link">
    <%= link_to 'Log out', destroy_user_session_path, :method => :delete, class: "btn btn-danger btn-mg" %>
</div>