<h1 class="heading">Create new task list</h1>
</br>
</br>
</br>
<%= render 'form' %>
</br>
</br>
</br>
<div class="back">
<%= link_to task_lists_path do %>
	<div class="btn btn-danger btn-mg"><i class="fa fa-arrow-left fa-2x"></i> &nbsp; </div>
<% end %>
</div>
