/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome.css.scss";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "task_lists.css.scss";
@import "task_items.css.scss";

html {
  height: 100%;
}
body {
	background: linear-gradient(25deg, #e43f3f 10%, #f0f1e0 100%) no-repeat;
	background: -webkit-linear-gradient(25deg, #e43f3f 10%, #f0f1e0 100%) no-repeat;
	background:    -moz-linear-gradient(25deg, #e43f3f 10%, #f0f1e0 100%) no-repeat;
	background:      -o-linear-gradient(25deg, #e43f3f 10%, #f0f1e0 100%) no-repeat;
	background:     -ms-linear-gradient(25deg, #e43f3f 10%, #f0f1e0 100%) no-repeat;
 	padding: 0px;
 	margin: 0px;
}
a{
	text-decoration:none;
}
a:before{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}

textarea {
	width: 100%;
	height: 300px;
	margin: .5em 2% 1em 0;
	display: inline-block;
	outline: none;
	background: rgba(250,250,250,.4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
}

input[type="submit"] {
	background: white;
	outline: none;
	border: none;
	height: 40px;
	border-radius: 4px;
	width: 15%;
	display: inline-block;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color:  #8e2929;
	&:hover {
		background:  #8e2929;
		color: white;
	}
}