// Place all the styles related to the task_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-list{
	width: 100%;
	.task-heading{
		text-align: center;
		margin-bottom: 30px;
	}
	.tl-content{
		text-align: center;
		width: 600px;
		padding: 30px 50px 50px;
		background-color: #fff;
		opacity: 0.5;
		border: solid #ffffff;
		height: auto;
		border-radius: 9px;
		box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
		.t-d{
			width: 100%;
			float: left;
			border-bottom: solid;
			padding: 10px;
			/*.t-title{
				float: left;
			}
			.desc{
				float: left;
			}*/
		}
		.new-list{
			a{
				margin-top: 20px;
			}
		}
	}
}